*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: dimgrey;
}

#wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

#title {
    padding: 0 0px 250px 0px;
    font-size: 50px;
    font-family: 'Noto Sans Mono', monospace;
}

#btn {
    border: none;
    background: none;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 30px;
    cursor: pointer;
}

#canvas {
    background-color: #fff;
    display: none;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}